<% title "Search Opportunities" %>

<p>
  <strong>Keywords:</strong>
  <%= @search_opportunities.keywords %>
</p>
<p>
  <strong>Location:</strong>
  <%= @search_opportunities.location_id %>
</p>

<p>
</p>
